name: "AutoSD: Build and Publish"

on:
  pull_request:
    paths:
      - autosd/**
  workflow_dispatch:

jobs:
  run-steps:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Base Dependencies
        run: |
          sudo apt update -y
          sudo apt install -y podman

      - name: Install AIB container script
        run: |
          sudo wget -O /usr/bin/aib \
          https://gitlab.com/CentOS/automotive/src/automotive-image-builder/-/raw/main/auto-image-builder.sh?ref_type=heads

          sudo chmod +x /usr/bin/aib

      - name: Build QEMU Image (x86_64)
        run: |
          export AIB_LOCAL_CONTAINER_STORAGE=$PWD/_build/containers-storage
          export AIB_BIN=/usr/bin/aib
          export AIB_MANIFEST=simple.aib.yml

          mkdir -p $AIB_LOCAL_CONTAINER_STORAGE

          sudo -E bash ./scripts/build.sh 

      - name: Fix build dir permissions
        run: |
          sudo chown -R $(id -u):$(id -u) _build/

      - name: Upload QEMU Image
        uses: actions/upload-artifact@v4
        with:
          name: autosd-simple-x86_64-latest.qcow2
          path: _build/disk.qcow2
